
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Colors
$sz-orange: #f37841;

// Social
$sz-google-background: #4d90fe;
$sz-facebook-background: #4c69ba;

// Play buttons
$sz-go-btn-background: #65bf3b;
$sz-go-btn-border: #cff0c6;
$sz-go-btn-text: #ffffff;

$btn-qr-code-color: #fff !default;
$btn-qr-code-bg: $sz-orange !default;
$btn-qr-code-border: darken($btn-qr-code-bg, 5%) !default;

$btn-play-color: #fff !default;
$btn-play-bg: #65bf3b !default;
$btn-play-border: lighten($btn-play-bg, 35%) !default;
