
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// MaterialDesignIcons
@import "mdi";

.navbar-header {
  .navbar-brand {
    img.sz-navbar-brand-logo {
      width: 108px;
      height: 36px;
    }
  }
}

.facebook-sign-in {
    background: $sz-facebook-background;
    background: linear-gradient(#4c69ba, #3b55a0);
    border-color: #4c69ba;
    border-radius: 2px; color:#fff;
    text-shadow: 0 -1px 0 #354c8c;
    color: #fff;

    &:hover {
        background: linear-gradient(#5b7bd5, #4864b1);
        border-bottom-color: #365899;
        border-left-color: #4961a8;
        border-right-color: #4961a8;
        border-top-color: #5874c3;
        box-shadow: inset 0 1px 0 #607fd6;
        color: #fff;
    }
}

.google-sign-in {
    background-color: $sz-google-background;
    background-image: linear-gradient(to right top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    color: #fff;

    &:hover {
        background-color: #357ae8;
        background-image: linear-gradient(to right top, #4d90fe, #357ae8);
        border: 1px solid #2f5bb7;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        color: #fff;
    }
}

.form-group.required .control-label:after {
   content: "*";
   color: #a94442;
}

form.sz-action-form-inline {
  display: inline-block;
}

.sz-display-new-lines {
    white-space: pre-line;
}

.sz-question {
    margin-top: 15px;

    .row {
        margin-top: 6px;
        margin-bottom: 6px;

        .btn {
            &.sz-image-add {
                color: $gray-light;
            }
            &.sz-image-add.sz-option-has-image {
                color: black;
            }

            &.sz-option-remove {
                color: $brand-danger;
            }
        }

        .sz-btn-controls {
            text-align: right;

            .btn {
                padding-left: 6px;
                padding-right: 6px;
            }
        }

        .input-group-addon {
            .btn {
                padding: 0;
                border: 0;
            }
        }
    }
}

.sz-option-correct {
    color: $brand-success;
}

.sz-option-incorrect {
    color: $brand-danger;
}

.media-list.sz-options-list, .list-group.sz-pairs-list {
    .media.sz-option, .list-group-item.sz-pair {
        img.media-object {
            max-height: 64px;
            max-width: 64px;
        }

        .media-body {
            vertical-align: middle;
        }

        .media-right {
            padding-top: 5px;
        }
    }
}

.sz-sortable-list {
    li {
        cursor: move;
    }
}

.sz-option-image-small {
    max-height: 22px;
    max-width: 22px;
}

.sz-img-64x64 {
    width: 64px;
    height: 64px;
}

.sz-img-52x60 {
    width: 52px;
    height: 60px;
}

.sz-img-w30 {
    width: 30px;
    height: auto;
}

.sz-account-types {
    .mdi-google {
        color: $sz-google-background;
    }

    .mdi-facebook-box {
        color: $sz-facebook-background;
    }

    .mdi-account-key {
        &.active {
            color: $gray-dark;
        }
        &.inactive {
            color: $gray-light;
        }
    }
}

.sz-role-badge {
    i.mdi {
        cursor: pointer;

        &::before {
            font-size: 12px;
        }
    }
}

#map {
    #sz-map-controls {
        background-color: #fff;
        border: 2px solid #fff;
        border-radius: 3px;
        box-shadow: 0 2px 6px rgba(0,0,0,.3);
        text-align: center;

        i {
            &.mdi {
                color: #000;
                margin-right: 5px;
                font-size: 36px;
                cursor: pointer;

                &::before {
                    font-size: 36px;
                }
            }

            &.mdi-navigation {
                color: $gray-light;

                &.active {
                    color: blue;

                    &::before {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }

    #sz-gps-error {
        background-color: red;
        width: 100%;
        height: 42px;
        line-height: 42px;
        text-align: center;
        color: #ffffff;
        opacity: 0.5;
        font-size: 125%;

        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

#sz-play-app {
    height: 100%;
    width: 100%;

    #loading {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        height: 100%;
        width: 100%;
        background-color: $gray-lighter;
        text-align: center;
        padding-top: 250px;

        span {
            display: inline-block;
            font-size: 150%;
            animation-duration: 3s;
        }

        .sz-geolocation-error {
            color: $brand-danger;
        }
    }

    #map {
        height: 100%;
        width: 100%;
    }

    .sz-photo {
        input[type='file'] {
            display: none;
        }

        .sz-take-image {
            color: $gray-light;
            margin-left: auto;
            margin-right: auto;
            font-size: 96px;

            &.sz-image-taken {
                color: $gray-dark;
            }

            i.mdi {
                &::before {
                    font-size: 96px;
                }
            }
        }
    }

    .sz-one-correct-answer, .sz-multiple-correct-answers {
        .media {
            cursor: pointer;

            input[type='radio'], input[type='checkbox'] {
                display: none;
            }

            .media-left {
                img.media-object {
                    max-width: 150px;
                    height: auto;
                }
            }

            .media-right {
                padding-top: 5px;
            }
        }

        .mdi.correct {
            color: $brand-success;
        }
    }

    .sz-match-pairs {
        &.row {
            margin-left: 15px;
            margin-right: 15px;
        }

        .row {
            .sz-matchable {
                border: 1px solid $gray-lighter;
                padding: 5px;
                cursor:pointer;
                margin-top: 5px;
                margin-bottom: 5px;

                &.chosen {
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                }

                &.matched {
                    opacity: 0.5;
                }

                img {
                    max-width:100%;
                    height:auto;
                }
            }
        }
    }

    .sz-game-results {
        .sz-options-list {
            .mdi-radiobox-marked, .mdi-checkbox-marked-outline {
                color: $brand-danger;
            }

            &.correct {
                .mdi-radiobox-marked, .mdi-checkbox-marked-outline {
                    color: $brand-success;
                }
            }
        }
    }
}

// A recaptcha width solution for smaller phones
@media screen and (max-height: 575px) {
    #rc-imageselect, .g-recaptcha {
        transform:scale(0.77);
        -webkit-transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}

.sz-search-results {
    th.sortable {
        cursor: pointer;

        &.active {
            color: $brand-success;
        }
    }

    .mdi.mdi-sort-alphabetical, .mdi.mdi-sort-numeric {
        &::before {
            font-size: 18px;
        }
    }
}

.sz-metadata {
    font-size: 85%;
    color: $gray-light;

    .mdi::before {
        font-size: 90%;
    }
}

table.sz-table-results {
    img {
        max-width: 24px;
        max-heiht: 24px;
    }
}

.media.sz-author {
    .media-left {
        padding-top: 10px;

        i.mdi {
            &::before {
                font-size: 36px;
            }
        }
    }

    .media-body {
        .sz-date {
            color: $gray-light;
            font-size: 85%;

            .mdi::before {
                font-size: 95%;
            }
        }
    }
}

.alert.sz-activity-status {
    padding: 5px;
    margin: 5px 0 5px 0;
    display: inline-block;
}

.btn.sz-go-btn {
    background-color: $sz-go-btn-background;
    border: 5px solid $sz-go-btn-border;
    color: $sz-go-btn-text;
    letter-spacing: 2px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
}

img.openbadge {
    display: inline-block;
    width: 125px;
    height: 125px;
}

#badges-earned {
    .openbadge-container {
        display: inline-block;
    }
}

#sz-quick-play {
    .btn.sz-quick-play-btn {
        background-color: $sz-go-btn-background;
        border: 5px solid $sz-go-btn-border;
        color: $sz-go-btn-text;
        width: 100%;
        font-size: 150%;

        i.mdi {
            display: block;
            margin-top: 25px;
            margin-bottom: 10px;

            &::before {
                font-size: 70px;
            }
        }
    }

    .btn.sz-quick-play-zoo-btn {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

form.sz-play-action-form {
    width: 100%;

    button {
        width: 100%;
        margin-top: 5px;

        i.mdi {
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 10px;

            &::before {
                font-size: 52px;
            }
        }
    }
}

img.sz-uploaded-image-preview {
    height: 64px;
    width: 64px;
    margin-right: 10px;
}

.sz-game-tips-dialog {
    ul.slides {
        padding: 0;

        li {
            display: inline;
            padding-left: 5px;
            padding-right: 5px;

            .badge {
                background-color: #ccc;
                border: 1px solid #777;

                &.current {
                    background-color: #777;
                }
            }
        }
    }
}
